body {
  font-family: Arial, sans-serif;
  background: #f2f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4a6cff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #3a5be0;
}

#message {
  margin-top: 10px;
  color: red;
}
.google-btn {
  background: #db4437;
  color: white;
}

hr {
  margin: 15px 0;
}

/*dashboard css*/
button {
  margin-top: 8px;
}
/* BOT AREA */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #fff7f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BACKGROUND BLOB */
.scene {
  width: 400px;
  height: 400px;
  background: #ffd1d1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOT */
.bot {
  position: relative;
  width: 220px;
}

/* ANTENNAS */
.antenna {
  position: absolute;
  top: -30px;
  width: 6px;
  height: 30px;
  background: #ff3b3b;
}

.antenna span {
  position: absolute;
  top: -10px;
  left: -6px;
  width: 18px;
  height: 18px;
  background: #ffd1c1;
  border-radius: 50%;
}

.antenna.left { left: 60px; }
.antenna.right { right: 60px; }

/* HEAD */
.head {
  width: 180px;
  height: 140px;
  background: #fff0e5;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCREEN */
.screen {
  width: 130px;
  height: 90px;
  background: #ffb02e;
  border-radius: 25px;
  position: relative;
}

/* EYES */
.eyes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.eye {
  width: 10px;
  height: 14px;
  background: #222;
  border-radius: 50%;
}

/* MOUTH */
.mouth {
  width: 22px;
  height: 10px;
  border-radius: 0 0 15px 15px;
  background: #222;
  margin: 8px auto 0;
}

/* NECK */
.neck {
  width: 30px;
  height: 12px;
  background: #ff3b3b;
  margin: -2px auto;
  border-radius: 0 0 10px 10px;
}

/* LAPTOP */
.laptop {
  width: 200px;
  height: 120px;
  background: #5f86ff;
  border-radius: 20px;
  margin: -10px auto 0;
  position: relative;
}

.logo {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 85px;
}
.bot {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
.eye {
  animation: blink 4s infinite;
  transform-origin: center;
}

@keyframes blink {
  0%, 90%, 100% { transform: scaleY(1); }
  95% { transform: scaleY(0.1); }
}
.mouth.talking {
  animation: talk 0.25s infinite;
}

@keyframes talk {
  0% { height: 6px; }
  50% { height: 12px; }
  100% { height: 6px; }
}

